.slid .slider {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}
.image {
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}
.slider .title {
  color: white;
  position: absolute;
  font-family: 'Rowdies', cursive;
  font-size: 34px;
  top: 30%;
  left: 15%;
  text-align: center;
}
.slider .action {
  width: auto;
  padding: 15px;
  margin-top: 60px;
  background-color: red;
  color: white;
  position: absolute;
  font-family: 'Rowdies', cursive;
  font-size: 34px;
  top: 50%;
  left: 15%;
  text-align: center;
}
.title-1 .empty {
  display: none;
}

.slider .title1 {
  width: auto;
  padding: 15px;
  margin-top: 40px;
  background-color: red;
  color: white;
  position: absolute;
  font-family: 'Rowdies', cursive;
  font-size: 34px;
  top: 35%;
  left: 15%;
  text-align: center;
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.slide {
  opacity: 0;
}
.slide.active {
  transform: showup 1s;
  transition-duration: 0s;
  transition-delay: 0s;
  opacity: 1;
  transform: scale(1.08);
}
@media screen and (max-width: 600px) {
  .slid .slider {
    margin-top: 69px;
    position: relative;
    width: 100vw;

    height: auto;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .slider .title,
  .action {
    display: none;
  }
  .slider .title1 {
    font-size: 16px;
    width: 100%;
    padding: 10px;
    margin-top: 0px;
    background-color: red;
    color: white;
    position: relative;
    text-align: center;
    top: unset;
    left: unset;
  }
  .slider .title-2221 {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
  }

  .image {
    display: block;
    max-width: 100%;
    height: unset;
  }
  .right-arrow,
  .left-arrow {
    display: none;
  }
}
@media screen and (max-width: 1024px) and (min-width: 600px) {
  .slid .slider {
    position: relative;
    width: 100vw;
    height: 100vh;
    height: auto;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100px);
  }
}

.mySwiper {
  width: 500px;
  height: 500px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 768px) {
  .mySwiper {
    width: 300px;
    height: 300px;
  }
  .hotel .mySwiper {
    width: unset;
    height: unset;
  }
}
.mySwiper .swiper-slide {
  background-position: center;
  background-size: cover;
}

.mySwiper .swiper-slide img {
  width: 100%;
  object-fit: contain;
  height: 100%;
}

.hotel .mySwiper {
  width: unset;
  height: unset;
  position: relative;
  overflow: hidden;
}
