.navbar {
  position: sticky;
  top: 0px;
  height: 70px;
  background-color: transparent;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: -70px;
  z-index: 20;
}
.navbar.active {
  background-color: black;
  opacity: 0.8;
}

.navbar-container {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.navbar-logo {
  position: absolute;
  left: 20px;
}

.navbar-logo .active {
  height: 70px;
  width: auto;
  margin-top: -15px;
}
.flags {
  display: flex;
}
.flags img {
  margin: 5px;
}
nav a,
.nav-container {
  line-height: unset;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  align-items: center;
}
.nav-links {
  color: #121212;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
  font-weight: bold;
}
.fa-code {
  margin-left: 1rem;
}

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
}
.nav-icon button {
  border: none;
  background: black;
  color: white;
  font-weight: 900;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-icon {
  display: none;
}

.menu-items {
  font-size: 16px;
  position: relative;
  text-transform: uppercase;
}
.menu-items a,
.menu-items button {
  color: inherit;
  font-size: inherit;
  width: 100%;
}

.menu-items img {
  display: flex;
  width: 30px;
  object-fit: contain;
}
.menu-items button {
  align-items: center;
  background-color: initial;
  border: none;
  color: inherit;
  cursor: pointer;
  display: flex;
  font-size: inherit;
  width: 100%;
}
.menu-items button,
.menu-items > a {
  padding: 0.7rem 1rem;
  text-align: left;
}
.menu-items a {
  color: white;
  display: block;
  font-size: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

button span {
  margin-left: 3px;
}
.arrow:after {
  border-left: 0.32em solid transparent;
  border-right: 0.32em solid transparent;
  border-top: 0.42em solid;
  content: "";
  display: inline-block;
  margin-left: 0.28em;
  vertical-align: 0.09em;
}

.dropdown {
  box-shadow: 0 10px 15px -3px rgb(46 41 51 / 8%),
    0 4px 6px -2px rgb(71 63 79 / 16%);
  display: none;
  font-size: 0.875rem;
  left: auto;
  list-style: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  position: absolute;
  right: 0;
  z-index: 9999;
}
.dropdown.show {
  display: block;
}

@media (max-width: 768px) {
  .navbar .logo {
    width: 80px;
  }
  .menu-items .flags {
    margin-bottom: 20px;
  }
  .menu-items .dropdown {
    position: static;
  }
  .menu-items {
    width: 100%;
  }
  .navbar {
    position: sticky;
    top: 0px;

    background-color: transparent;
    opacity: 1;

    z-index: 999;
    background-color: black;
  }
}

@media screen and (max-width: 960px) {
  .navbar {
    height: 80px;
  }
  .navbar.active {
    opacity: 1;
  }
  .menu-items .flags {
    display: flex;
    margin-left: 15px;
    align-items: center;
  }

  .menu-items .flags .flag {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  .menu-items button,
  .menu-items > a {
    padding: 1rem 1rem;
    text-align: left;
    border-bottom: 1px solid rgba(255, 25, 25, 0.4);
  }
  .navbar-logo .active {
    height: unset;
    margin-top: unset;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1pxsolid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
    align-content: flex-start;
    align-items: flex-start;
  }
  .nav-container {
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
  }

  .profile-container .profile-details {
    display: none;
  }
  .nav-menu.active {
    background: #000;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item .active {
    color: white;
    border: none;
  }
  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
  }
  .nav-icon {
    display: block;
    position: absolute;
    right: 0;
    font-size: 2.3rem;
    margin-right: 15px;
  }
}
